*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: bisque;
}

header{
    height: auto;
    width: 100%;
  
    display: flex;
    flex-direction: column;
}

header .head1{
    height: 50px;
    background-color: rgba(0, 0, 0,0.6);
    display: flex;
    justify-content: space-between;
    word-spacing: 10px;
    align-items: center;
    padding: 0 20px;
  
}
 .head1 .left .abtn{
    text-decoration: none;
    width: 30px;
    height: 30px;
    background-color:rgba(35, 35, 35, 0.1);
    color: white;
    border-radius: 50px;
    
}

.head1 .left button:hover{
   background-color: green;
   cursor: pointer;
}
.head1 .right span{
    color: white;
}

.head1 .right .call{
    background: rgba(43, 181, 68, 0.793);
    font-weight: 600;
    cursor: pointer;
}
.head2{
    height: 100px;
    background-color: white;
    display: flex;
    justify-content:space-between;
    align-items: center;
    text-transform: uppercase;
}

.head2 .bran{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.head2 .bran h1{
    font-size: 40px;
    transform:skewY(1deg) ;
}
.head2 .bran span{
    background-color: green;
    font-size: 12px;
    height: 35px;
    width: 100px;
    padding:1px 10px;
    display: block;
    margin-left: 8px;
}
.head2 .why span{
   
    margin-right: 20px;
    position: relative;
    font-weight: 600;
}

.head2 a,.head1 a{
    text-decoration: none;
}
main .main.one,.main.two,.main.three,.main.four{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .main.one .we{
   font-size: 70px;
   text-transform: uppercase;
   color: white;
}
main .main.one .wepara{
    width: 60%;
    height: 30px;
    text-align: center;
    margin-top: 30px;
    color: white;
}

main .main.three .send{
    margin-top: 50px;
    width: 200px;
    height: 40px;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: orange;
    border: none;
    border-radius: 2px;
}


main .main.two .pic{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: hsl(0, 0%, 95%);
    padding: 26px;
    margin-left: 50px;
    margin-bottom: 20px;
    
}

main .main.two h1{
    font-size: 45px;
    color: black;
    margin-bottom: 20px;

}

main .main.two h1 span{
    color: rgba(43, 181, 68, 0.793);
}
main .main.two .item h4{
    margin-bottom: 10px;
}

main .main.two .item p{
    color: hsl(0, 0%, 80%);
}

main .main.two .pic .fa-lightbulb,.fa-thumbs-up,.fa-clock,.fa-people-roof,.fa-message{
    font-size: 50px;
}

main .main.two .item{
    text-align: center;
    /* background-color: brown; */
    height: 200px;
    width: 200px;
}
main .main.two .items,.webs{
    display: flex;
}

main .main.two .items{
    display: flex;
    gap:10px;
    margin-top: 30px;
}

main .main.three .inputs{
    display: flex;
    justify-content: center;
    align-items: center;
}
main .main.three h1{
   font-size: 60px;
   color: white;
}
main .main.three .name,.email,.phn,.send{
    height: 40px;
    width: 180px;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 10px;
    
}   

main .main.three input::placeholder{
    padding-left: 10px;
}
main .main.three p{
    width: 50%;
    text-align: center;
    color: white;
}
main .webs .web{
    width: 300px;
    height: 180px;
    background-color: lightgray;
    margin-right: 20px;
    position: relative;
    padding:  50px 30px;
    text-align: center;
    top: -20px;
}

main .main.four h1{
    font-size: 40px;
    margin-bottom: 0px;
    margin-top: 30px;
}

main .main.four .para{
    width: 820px;
    height: 30px;
    margin: auto;
    margin-top: 10px;
    /* background-color: blueviolet; */
}

main .main.four .web .icon{
    background-color: gold;
    border-radius: 50%;
    padding: 23px;
    height: 80px;
    width: 80px;
    margin-bottom: 50px;
    position: absolute;
    top: -40px;
    left:110px
}

main .main.four .icon .fa-star{
    font-size: 2rem;
}

main .main.one,.main.three,footer{
    background-color:rgba(43, 181, 68, 0.793) ;
    height: 400px;
    width: 100%;
}

main .main.two,.main.four{
    background-color: white;
    height: 400px;
    width: 100%;
}

footer{
    display: flex;
    background-color: rgba(43, 181, 68, 0.793);
    padding: 100px 100px ;
}

footer .footer.bran{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .footer.bran  h1{
    font-size: 40px;
    margin-right: 5px;
}

footer .brand p{
 width: 200px;
 font-size: 0.75em;
 margin-top: 20px;
 margin-bottom: 50px;
}

footer .brand .footer.bran  span{
  background-color: orange;
  color: white;
  width: 100px;
  height: 35px;
  font-size: 0.8em;
  display: block;
  padding: 0px 20px;
}

footer .footerlinks .links,.usefullinks .links{
  display: flex;
  flex-direction: column;
  margin-right: 50px;
}

footer .footerlinks,.usefullinks{
    border-right: 2px solid gray;
    margin-left: 30px;
    margin-right: 20px;
    /* background-color: aquamarine; */
}

footer .footercontactus{
    margin-left: 50px;

}

footer .footercontactus .followlogos,.fo{
    margin-top: 30px;

}

.head2 .why span:hover::before{
    
    transform: scaleX(1);
}

.head2 .why span{
    position: relative;
    cursor: pointer;
}

.head2 .why span::before{
    content: "";
    height: 10px;
    width: 100%;
    /* background-color: orange; */
    position: absolute;
    top: 45px;
    left: 0;
    transform: scaleX(0);
    transition: 0.25s ease-in;
    border-bottom: 5px solid orange;
}


.carousel-item {
    width: 100%;
    height: 100%;
}

    /* .carousel-indicators {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    color: white;
    }  */

main .main.one #carouselExampleIndicators{
    width: 100%;
    height: 100%;
    
}


.carousel-item img {
    height: 100%;
    width: 100%;
} 

main .main.three form{
    margin-top:50px ;
}


main .main.three .name,.email,.number{
    position: relative;
    top: 0;
    left: 0;
}




main .main.three .validname{
    position: absolute;
    top: 1230px;
    left: 255px;
    width: 220px;
    background-color: blue;
    /* display: block; */
    display: none;
}

main .main.three .validemail{
    width: 150px;
    position: absolute;
    top: 1230px;
    left: 485px;
    background-color: brown;
    display: none;

}

main .main.three .validnumber{
    width: 180px;
    position: absolute;
    top: 1230px;
    left: 695px;
    background-color: blueviolet;
    display: none;

}

